.portfolio-section-component
  .portfolio-project-item-component
    border: 1px solid #dbdbdb
    border-radius: 5px
    padding: 25px 30px
    width: 100%
    margin-bottom: 30px
    .portfolio-project-item-header
      display: flex
      align-items: center
      justify-content: space-between
      .title-text
        font-size: 22px
        font-weight: 500
        margin-bottom: 0px
    .main-text
      font-size: 14px
      margin-bottom: 15px
    .sub-text
      color: #707070
      font-size: 13px
      margin-bottom: 25px
    