html
  scroll-behavior: smooth

#tsparticles
  position: fixed !important
  z-index: 0 !important
  pointer-events: none

button
  svg
    margin-bottom: 5px

.container
  max-width: 1420px
  position: relative
  z-index: 1

.white-button
  background: #fff
  color: #1b1d2f
  &:hover
    border: #1b1d2f
    color: #1b1d2f
    opacity: 0.8
  &:focus
    border: #1b1d2f
    color: #1b1d2f

.primary-button
  background: #1b1d2f
  color: #fff
  border: #1b1d2f
  &:hover
    background: #1b1d2f
    border: #1b1d2f
    color: #fff
    opacity: 0.8
  &:focus
    background: #1b1d2f
    border: #1b1d2f
    color: #fff
