html
  scroll-behavior: smooth

button
  svg
    margin-bottom: 5px

.white-button
  background: #fff
  color: #202020
  &:hover
    border: #202020
    color: #202020
    opacity: 0.8
  &:focus
    border: #202020
    color: #202020